node_modules
.env
Frontend/node_modules

Frontend/.env

uploads

services/uploads

services/__pycache__

services/dummy_remover/.venv

# services/dummy_remover/weights

# services/dummy_remover/GroundingDINO

services/dummy_remover/output_images

weights

GroundingDINO

