backend/node_modules
backend/.env
Frontend/node_modules

Frontend/.env

backend/uploads

backend/services/uploads

backend/.venv

backend/services/__pycache__

dummy_remover/.venv

dummy_remover/weights

dummy_remover/GroundingDINO

dummy_remover/output_images

backend/weights

backend/GroundingDINO

Frontend/out
