backend/node_modules
backend/.env
Frontend/node_modules

Frontend/.env

backend/uploads

backend/services/uploads

backend/services/__pycache__

backend/services/dummy_remover/.venv

backend/services/dummy_remover/weights

backend/services/dummy_remover/GroundingDINO

backend/services/dummy_remover/output_images

backend/weights

backend/GroundingDINO

Frontend/out